[submodule "Adafruit_SSD1306"]
	path = Adafruit_SSD1306
	url = git@github.com:ulrichard/Adafruit_SSD1306.git
[submodule "Adafruit-GFX-Library"]
	path = Adafruit-GFX-Library
	url = https://github.com/adafruit/Adafruit-GFX-Library.git
